[versions]
alchemist = "34.0.19"
kotlin = "2.0.0"

[libraries]
alchemist = { module = "it.unibo.alchemist:alchemist", version.ref = "alchemist" }
alchemist-protelis = { module = "it.unibo.alchemist:alchemist-incarnation-protelis", version.ref = "alchemist" }
alchemist-scafi = { module = "it.unibo.alchemist:alchemist-incarnation-scafi", version.ref = "alchemist" }

[bundles]
alchemist-protelis = [ "alchemist", "alchemist-protelis" ]

[plugins]
gitSemVer = { id = "org.danilopianini.git-sensitive-semantic-versioning", version = "3.1.7" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-qa = { id = "org.danilopianini.gradle-kotlin-qa", version = "0.65.0" }
multiJvmTesting = { id = "org.danilopianini.multi-jvm-test-plugin", version = "1.2.2" }
taskTree = { id = "com.dorongold.task-tree", version = "4.0.0" }
