name: CI
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  compute-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - id: version
        run: |
          echo "::set-output name=version::$(./gradlew printGit | grep -oP '^Version computed by GitSemVer: \K.*$')"
  check-simulations:
    uses: DanySK/workflows/.github/workflows/build-and-deploy-gradle-project.yml@0.1.0-dev41
    with:
      build-command: true
      check-command: ./gradlew runAllGraphic
      deploy-command: true
  create-charts-and-deploy:
    runs-on: ubuntu-latest
    needs: [Compute-Version]
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Upgrade pip
        run: pip install --upgrade pip --user
      - name: Install requirements
        run: pip install -r requirements.txt --user
      - name: Prepare charts folder
        run: mkdir -p charts
      - name: Generate charts
        run: python process.py
      - name: Generate archive
        run: tar --use-compress-program zstd -cf charts.tar.zst charts/
      - uses: ncipollo/release-action@v1
        if: ${{ github.event_name != 'pull_request' }}
        name: Create GitHub Release
        with:
          tag: ${{ needs.compute-version.outputs.version }}
          replacesArtifacts: true
          artifacts: charts.tar.zst
          token: ${{ secrets.GITHUB_TOKEN }}
